@import "style.css";

/* SECTION */

.main {
    width: 80%;
    margin: 10px auto;
    background-color: #f2f2f2;
    padding: 10px;
}

.main a {
    color: #1a75ff;
    text-decoration: none;
}

.main p {
    padding: 10px;
    text-align: justify;
}
.main h3{
    font-size: 20px;
    margin-top: 5px;
}
.main-team{
    position: relative;
    width: 100%;
}
.main-team-text{
    bottom: 100px;
    position: absolute;
    text-align: center;
    color: white;
}
.main-team-text span{
    font-size: 40px;
}
.main-team-text p{
    font-size: 20px;
}
.main-team-bg{
    width: 100%;
}
.main-team-bg img{
    margin-top: 10px;
    width: 100%;
}

.main-work{
    margin-top: 10px;
    display: flex;
}
.main-work p{
    font-size: 18px;

}
.list {
    list-style-type: none;
}

.list h3 {
    padding-left: 10px;
    color: #ffa500;
}

.list li{
    margin-top: 5px;
}
li p {
    color: black;
}

ul.list-child {
    list-style-type: disc;    
}

ul.list-child,
ol.list-child {
    padding-left: 50px;
    margin-top: 15px;
}
.list-child li {
    font-size: 16px;
    line-height: 20px;
}

h3.thank {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* gioi thieu thanh vien */
.list-title{
    font-size: 40px;
    margin: 10px 0 5px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.list-title-plus{
    font-weight: 300;
}
.list-our-team{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
}
.item-our-team{
    width: 320px;
    position: relative;
}
.our-team-thumb{
    width: 100%;
}
.our-team-info{
position: absolute;
bottom: 2px;
left: 0;
right: 0;
width: 100%;
height: 50%;
background: rgba(0,0,0,0.5);
transition: all 0.2s ease-out 0s;
-webkit-transition: all 0.3s ease-out 0s;
transform: translateY(100%);
-webkit-transform: translateY(100%);
opacity: 0;
overflow: hidden;
}
.item-our-team:hover .our-team-info{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
}
.our-team-info-name a{
    color: #de8ebe ;
    font-weight: 800;
}
.our-team-info-role{
    padding-left: 10px;
    color: white;
}
.our-team-info-interest{
    color: white;
}
.our-team-custom{
    display: table;
    width: 100%;
    color: white;
}
.our-team-custom>div{
    display: table-cell;
    vertical-align: top;
}
.our-team-custom-left{
    text-align: left;
}
.our-team-custom-right{
    text-align: right;
    padding-right: 10px;
}
.our-team-custom-phone{
    font-weight: 800;
    color: white;
}
.our-team-custom-phone i{
margin-right: 5px;
color: #de8ebe ;
}
.our-team-custom-profile{
    display: flex;
    list-style: none;
    float: right;
}
.our-team-custom-profile i{
    margin-right: 5px;
    color: white;
}
/* truyen thong */
.flex-box{
    display: flex;
    justify-content: space-between;
    margin:20px auto;
    height: 60px;
}
.flex-box .flex-box-item{
width: 16%;
margin-right: 10px;
}
.flex-box .flex-box-item a img{
    width: 100%;
}